<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
	  	<title>Albums you have created</title>
	  	<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	  	<link href="{% static 'bootstrap/dist/css/bootstrap-theme.css' %}" rel="stylesheet">
	</head>
	<body>
		<script src="https://code.jquery.com/jquery.js"></script>
	  	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <div class="container">
            <h1>Albums</h1>
            <table style="text-align: center;" class="table table-hover">
                {% for a in albums %}
                <tr>
                    <td>
                        {{a.name}}
                    </td>
                    <td>
                        {{a.owner}}
                    </td>
                    <td>
                        {{a.id}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
	</body>
</html>