{% extends "base_panel.html" %}
{% block title %}Album {{album.name}}{% endblock %}
{% block panelTitle %}{{album.name}}{% endblock %}
{% block scripts %}
{% endblock %}
{% block contentPanel %}

{% if editable %}
<form role="form" action="{% url 'albumitemmodify' album_id=album.guid %}" method="post" id="modifyalbum">{% csrf_token %}
    <input type="hidden" name="name" id="albumname"/>
</form>

<div class="float-right text-right">
    <button class="btn btn-primary" onclick="modifyAlbum()"><span class="glyphicon glyphicon-edit icons-padding"></span> Change album name</button>
    <div class="btn-group">
        <button class="btn btn-default" onclick="submitForm('newslide')"><span class="glyphicon glyphicon-plus icons-padding"></span> New slide</button>
        {% if prev or next %}
        <button class="btn btn-danger" onclick="confirmForm('Delete slide', 'Are you sure?', 'deletebutton')"><span class="glyphicon glyphicon-remove icons-padding"></span> Delete slide</button>
        {% endif %}
    </div>
</div>
<form action="{% url 'albumitem' album_id=album.guid %}" method="post" id="newslide">{% csrf_token %}
    <input type="hidden" name="after" value="{{curr}}">
</form>
{% if prev or next %}
<form action="{% url 'slideitemdelete' album_id=album.guid slide_id=curr %}" method="post" id="deletebutton">{% csrf_token %}</form>
{% endif %}
{% endif %}
            
<div class="row">
    {% for photo in photos %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img {% if photo.link %}src="{{photo.link}}"{% else %}data-src="holder.js/100%x180/social/text:No image"{% endif %}>
            <div class="caption text-center">
                <p>{{photo.description}}</p>
                {% if editable %}
                <div class="btn-group">
                    <button class="btn btn-primary" onclick="modifyDescription('{{photo.pk}}')"><span class="glyphicon glyphicon-edit icons-padding"></span> Description</button>
                    <button class="btn btn-primary" onclick="modifyLink('{{photo.pk}}')"><span class="glyphicon glyphicon-edit icons-padding"></span> Link</button>
                </div>
                <form action="{% url 'slideitemphotomodify' album_id=album.guid slide_id=curr photo_id=photo.pk %}" method="post" id="modifydesc{{photo.pk}}">{% csrf_token %}
                    <input type="hidden" id="photodesc{{photo.pk}}" name="description">
                </form>
                <form action="{% url 'slideitemphotomodify' album_id=album.guid slide_id=curr photo_id=photo.pk %}" method="post" id="modifylink{{photo.pk}}">{% csrf_token %}
                    <input type="hidden" id="photolink{{photo.pk}}" name="link">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="text-center">
    <div class="btn-group">
        <a class="btn btn-default {% if not prev %}disabled{% endif %}" href="{% if prev %}{% url 'slideitem' album_id=album.guid slide_id=prev %}{% else %}#{% endif %}"><span class="glyphicon glyphicon-chevron-left icons-padding"></span></a>

        {% ifnotequal paginators.0 1 %}
        <a class="btn btn-default" href="{% url 'slideitem' album_id=album.guid slide_id=1 %}">1</a>
        {% ifnotequal paginators.0|add:"-1" 1 %}
        <button type="button" class="btn btn-default disabled">...</button>
        {% endifnotequal %}
        {% endifnotequal %}

        {% for paginator in paginators %}
        {% ifequal paginator curr %}
        <div class="btn-group">
            <button type="button" class="btn btn-default active dropdown-toggle" data-toggle="dropdown">{{paginator}} <span class="glyphicon glyphicon-refresh icons-padding"></span></button>
            <ul class="dropdown-menu">
                <li class="{% if not next %}disabled{% endif %}"><a href="#" {% if next %}onclick="submitForm('moveright')"{% endif %}><span class="glyphicon glyphicon-arrow-right icons-padding"></span> Move right</a></li>
                <li class="{% if not prev %}disabled{% endif %}"><a href="#" {% if prev %}onclick="submitForm('moveleft')"{% endif %}><span class="glyphicon glyphicon-arrow-left icons-padding"></span> Move left</a></li>
            </ul>
        </div>
        {% else %}
        <a class="btn btn-default" href="{% url 'slideitem' album_id=album.guid slide_id=paginator %}">{{paginator}}</a>
        {% endifequal%}

        {% endfor %}

        {% ifnotequal paginators|last max %}
        {% ifnotequal paginators|last|add:"1" max %}
        <button type="button" class="btn btn-default disabled">...</button>
        {% endifnotequal %}
        <a class="btn btn-default" href="{% url 'slideitem' album_id=album.guid slide_id=max %}">{{max}}</a>
        {% endifnotequal %}

        <a class="btn btn-default {% if not next %}disabled{% endif %}" href="{% if next %}{% url 'slideitem' album_id=album.guid slide_id=next %}{% else %}#{% endif %}"><span class="glyphicon glyphicon-chevron-right icons-padding"></span></a>
    </div>
</div>

{% if editable %}
    {% if prev %}
    <form action="{% url 'slideitemmodify' album_id=album.guid slide_id=curr %}" method="post" id="moveleft">{% csrf_token %}
        <input type='hidden' name='order' value='{{prev}}' />
        <input type='hidden' name='template' value='1' />
    </form>
    {% endif %}
    <form action="{% url 'slideitemmodify' album_id=album.guid slide_id=curr %}" method="post" id="moveright">{% csrf_token %}
        <input type='hidden' name='order' value='{{next}}' />
        <input type='hidden' name='template' value='1' />
    </form>
    {% if next %}
    {% endif %}
{% endif %}
{% endblock %}