{% extends "base_panel.html" %}
{% block title %}Album {{album.name}}{% endblock %}
{% block panelTitle %}<a href="#" class="editable" data-name="name" data-type="text" data-url="{% url 'albumitemmodify' album_id=album.guid %}">{{album.name}}</a>{% endblock %}

<!-- Hide change album button if JavaScript is enabled (and X-Editor works) -->
{% if editable %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#changealbumname').hide();
    });
</script>
{% endblock %}
{% endif %}

{% block contentPanel %}
{% if editable %}
<div class="float-right text-right">
    <a class="btn btn-primary" id="changealbumname" href="{% url 'albumitemmodify' album_id=album.guid %}" data-toggle="modal"><span class="glyphicon glyphicon-edit icons-padding"></span> Change album name</a>
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'slideitemmodify' album_id=album.guid slide_id=curr %}" data-toggle="modal"><span class="glyphicon glyphicon-th-large icons-padding"></span> Change template</a>
        <button class="btn btn-success" onclick="submitForm('newslide')"><span class="glyphicon glyphicon-plus icons-padding"></span> New slide</button>
        {% if prev or next %}
        <a class="btn btn-danger" href="{% url 'slideitemdelete' album_id=album.guid slide_id=curr %}" data-toggle="modal" id="deletebutton"><span class="glyphicon glyphicon-remove icons-padding"></span> Delete slide</a>
        {% endif %}
    </div>
</div>
<form action="{% url 'albumitem' album_id=album.guid %}" method="post" id="newslide">{% csrf_token %}
    <input type="hidden" name="after" value="{{curr}}">
</form>
<br/>
{% endif %}
            
<div class="row">
    {% for photo in photos %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            {% if editable %}<a href="{% url 'slideitemphotomodify' album_id=album.guid slide_id=curr photo_id=photo.pk %}" data-toggle="modal">{% endif %}<img {% if photo.link %}src="{{photo.link}}"{% else %}data-src="holder.js/100%x180/social/text:No image"{% endif %} alt="Photo">{% if editable %}</a>{% endif %}
            <div class="caption text-center">
                <p>
                    {% if editable %}<a href="#" class="editable" data-name="description" data-type="text" data-url="{% url 'slideitemphotomodify' album_id=album.guid slide_id=curr photo_id=photo.pk %}">{% endif %}
                    {{photo.description}}
                    {% if editable %}</a>{% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="text-center">
    <div class="btn-group">
        <a class="btn btn-default {% if not prev %}disabled{% endif %}" href="{% if prev %}{% url 'slideitem' album_id=album.guid slide_id=prev %}{% else %}#{% endif %}"><span class="glyphicon glyphicon-chevron-left icons-padding"></span></a>

        {% ifnotequal paginators.0 1 %}
        <a class="btn btn-default" href="{% url 'slideitem' album_id=album.guid slide_id=1 %}">1</a>
        {% ifnotequal paginators.0|add:"-1" 1 %}
        <button type="button" class="btn btn-default disabled">...</button>
        {% endifnotequal %}
        {% endifnotequal %}

        {% for paginator in paginators %}
        {% ifequal paginator curr %}
        <div class="btn-group">
            <button type="button" class="btn btn-default active dropdown-toggle" data-toggle="dropdown">{{paginator}} <span class="glyphicon glyphicon-refresh icons-padding"></span></button>
            <ul class="dropdown-menu">
                <li class="{% if not next %}disabled{% endif %}"><a href="#" {% if next %}onclick="submitForm('moveright')"{% endif %}><span class="glyphicon glyphicon-arrow-right icons-padding"></span> Move right</a></li>
                <li class="{% if not prev %}disabled{% endif %}"><a href="#" {% if prev %}onclick="submitForm('moveleft')"{% endif %}><span class="glyphicon glyphicon-arrow-left icons-padding"></span> Move left</a></li>
            </ul>
        </div>
        {% else %}
        <a class="btn btn-default" href="{% url 'slideitem' album_id=album.guid slide_id=paginator %}">{{paginator}}</a>
        {% endifequal%}

        {% endfor %}

        {% ifnotequal paginators|last max %}
        {% ifnotequal paginators|last|add:"1" max %}
        <button type="button" class="btn btn-default disabled">...</button>
        {% endifnotequal %}
        <a class="btn btn-default" href="{% url 'slideitem' album_id=album.guid slide_id=max %}">{{max}}</a>
        {% endifnotequal %}

        <a class="btn btn-default {% if not next %}disabled{% endif %}" href="{% if next %}{% url 'slideitem' album_id=album.guid slide_id=next %}{% else %}#{% endif %}"><span class="glyphicon glyphicon-chevron-right icons-padding"></span></a>
    </div>
</div>

{% if editable %}
    {% if prev %}
    <form action="{% url 'slideitemmodify' album_id=album.guid slide_id=curr %}" method="post" id="moveleft">{% csrf_token %}
        <input type='hidden' name='order' value='{{prev}}' />
    </form>
    {% endif %}
    <form action="{% url 'slideitemmodify' album_id=album.guid slide_id=curr %}" method="post" id="moveright">{% csrf_token %}
        <input type='hidden' name='order' value='{{next}}' />
    </form>
    {% if next %}
    {% endif %}
{% endif %}
{% endblock %}