<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="{% static 'bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
       <!--  <link href="{% static 'albumtemplate1.css' %}" rel="stylesheet"> -->
        {% block styles %}{% endblock %}
    </head>
	<body>
		<script src="https://code.jquery.com/jquery.js"></script>
	    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	    <script src="{% static 'bootstrap3-editable/js/bootstrap-editable.min.js' %}"></script>
  		<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	    <script src="{% static 'ow.widgets.persistState.js' %}"></script>
	    <script src="{% static 'holder/holder.js' %}"></script>
        <script src="{% static 'helpers.js' %}"></script>
        <script src="{% static 'draggable.js' %}"></script>
        {% block scripts %} {% endblock %}
        <div class="container">
            {% include "navbar.html" %}
            
	        {% block content %}{% endblock %}
	    </div>
    </body>
</html>