{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Album {{album.name}}{% endblock %}
{% block styles %}<link href="{% static 'bootstrap/dist/css/signin.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="jumbotron">
	<form class="form-signin" role="form" action="/login/" method="post" id="loginForm">{% csrf_token %}
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" class="form-control" placeholder="Username" id="username" name="username" required autofocus>
		<input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit" id="submit"> Sign in</button>
	</form>
</div>
{% endblock %}
