{% extends "base_panel.html" %}
{% block title %}Your orders{% endblock %}
{% block panelTitle %}Orders{% endblock %}
{% block contentPanel %}

<div class="row">
    {% for order in orders %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/100%x180/sky/text:{{order.album.name}}">
            <div class="caption text-center">
                {{order.time_placed}}
                <form action="{% url 'orderitemdelete' order_id=order.pk %}" method="post">{% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}