{% extends "base_panel.html" %}
{% block title %}Your orders{% endblock %}
{% block panelTitle %}Orders{% endblock %}
{% block contentPanel %}

<div class="row">
    {% if orders|length < 1 %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/100%x180/vine/text:No orders found" alt="No orders found">         
        </div>
    </div>
    {% endif %}
    {% for order in orders %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="{% url 'orderitem' order_id=order.pk %}">
                <img data-src="holder.js/100%x180/{{order.payment_ref|yesno:"vine,lava"}}/text:Order #{{order.pk}}" alt="{{order.album.name}}">
            </a>     
            <div class="caption text-center">
                {{order.payment_ref|yesno:"Processing order,Waiting for payment"}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}