{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Album {{album.name}}{% endblock %}
{% block styles %}<link href="{% static 'bootstrap/dist/css/signin.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
<form class="form-signin" role="form" action="/register/" method="post">{% csrf_token %}
<h2 class="form-signin-heading">Please register</h2>
<input type="text" class="form-control" placeholder="Username" id="username" name="username" required autofocus>
<input type="text" class="form-control" placeholder="Email" id="email" name="email" required>
<input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
<input type="password" class="form-control last" placeholder="Repeat password" id="reppassword" name="reppassword" required>
<label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
</label>
<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
{% endblock %}
